
<h2>Products Index Page</h2>
<table>
  <tr>
    <th>Product Id</th>
    <th>Product Name</th>
    <th>Product Description</th>
    <th>Product Inventory</th>
  </tr>
  <%=@products.size %>
  <% @products.each do |product| %>
    <%= render partial: "product", locals: {product: product} || "No products" %>
  <% end %>

</table>

<script type="text/javascript" charset="utf-8">
$(function () {
  $(".js-more").on('click', function() {
    var id = $(this).data("id");
    $.get("/products/" + id + "/description", function(data_description) {
      $.get("/products/" + id + "/inventory", function(data_inventory) {
        let inventory_text = "Available"
        if(data_inventory === "false"){
          inventory_text = "Sold Out"
        }
        alert(data_description + inventory_text)
          $("#product-" + id).html(data_description + inventory_text);

      });
    });
  });
});
</script>
